In [1]:
# importing libraries
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import pairwise_distances

In [2]:
# Define column names for the datasets
item_columns = [
    'movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 
    'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 
    'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 
    'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
]

rating_columns = ['user id', 'movie id', 'rating', 'timestamp']

# Read the datasets
movies = pd.read_csv('ml-100k/u.item', sep='|', names=item_columns, encoding='latin-1')
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=rating_columns)

# Merge the datasets on 'movie id'
merged_data = pd.merge(movies, ratings, on='movie id')

# Define categories
categories = [
    'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 
    'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 
    'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
]

In [3]:
# Create pivot table and replace NaN with 0
datama = ratings.pivot_table(index='user id', columns='movie id', values='rating')
data_matrix = datama.replace(np.nan, 0)

# Display the data matrix
print("Data Matrix:")
print(data_matrix)

Data Matrix:
movie id  1     2     3     4     5     6     7     8     9     10    ...  \
user id                                                               ...
1          5.0   3.0   4.0   3.0   3.0   5.0   4.0   1.0   5.0   3.0  ...
2          4.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   2.0  ...
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
5          4.0   3.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
939        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   5.0   0.0  ...
940        0.0   0.0   0.0   2.0   0.0   0.0   4.0   5.0   3.0   0.0  ...
941        5.0   0.0   0.0   0.0   0.0   0.0   4.0   0.0   0.0   0.0  ...
942        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
943        0.0   5.0   0.0   0.0   0.0   0.0   0.0   0.0   3.0   0.0  ...

movie id  1673  1674  1675  1676  1677  1678  1679  1680  1681  1682
user id
1          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
2          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
3          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
4          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
5          0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
939        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
940        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
941        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
942        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
943        0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[943 rows x 1682 columns]

In [4]:
# Calculate user and item similarities using cosine distances
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

# Display the similarities
print("User Similarity Matrix:")
print(user_similarity)
print("\nItem Similarity Matrix:")
print(item_similarity)

User Similarity Matrix:
[[2.22044605e-15 8.33069016e-01 9.52540457e-01 ... 8.51383057e-01
  8.20492117e-01 6.01825261e-01]
 [8.33069016e-01 0.00000000e+00 8.89408675e-01 ... 8.38515222e-01
  8.27732187e-01 8.94202122e-01]
 [9.52540457e-01 8.89408675e-01 0.00000000e+00 ... 8.98757435e-01
  8.66583851e-01 9.73444131e-01]
 ...
 [8.51383057e-01 8.38515222e-01 8.98757435e-01 ... 0.00000000e+00
  8.98358201e-01 9.04880419e-01]
 [8.20492117e-01 8.27732187e-01 8.66583851e-01 ... 8.98358201e-01
  0.00000000e+00 8.17535338e-01]
 [6.01825261e-01 8.94202122e-01 9.73444131e-01 ... 9.04880419e-01
  8.17535338e-01 0.00000000e+00]]

Item Similarity Matrix:
[[0.00000000e+00 5.97617822e-01 6.69755213e-01 ... 1.00000000e+00
  9.52816933e-01 9.52816933e-01]
 [5.97617822e-01 0.00000000e+00 7.26930825e-01 ... 1.00000000e+00
  9.21700637e-01 9.21700637e-01]
 [6.69755213e-01 7.26930825e-01 2.22044605e-16 ... 1.00000000e+00
  1.00000000e+00 9.03124947e-01]
 ...
 [1.00000000e+00 1.00000000e+00 1.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 1.00000000e+00]
 [9.52816933e-01 9.21700637e-01 1.00000000e+00 ... 1.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [9.52816933e-01 9.21700637e-01 9.03124947e-01 ... 1.00000000e+00
  1.00000000e+00 0.00000000e+00]]

In [5]:
# Function to get top 5 movies for a given category
def get_top_movies(category):
    category_movies = merged_data[merged_data[category] == 1]
    category_movie_ratings = category_movies.groupby(['movie id', 'movie title'])['rating'].mean().reset_index()
    top_category_movies = category_movie_ratings.sort_values(by='rating', ascending=False).head(5)
    return top_category_movies

# Get top 5 movies for each category and display
for category in categories:
    top_movies = get_top_movies(category)
    print(f"Top 5 Rated {category} Movies:")
    print(top_movies)
    print("\n")

Top 5 Rated Action Movies:
    movie id                      movie title    rating
11        50                 Star Wars (1977)  4.358491
28       127            Godfather, The (1972)  4.283293
38       174   Raiders of the Lost Ark (1981)  4.252381
80       313                   Titanic (1997)  4.245714
36       172  Empire Strikes Back, The (1980)  4.204360


Top 5 Rated Adventure Movies:
     movie id                      movie title    rating
120      1293                  Star Kid (1997)  5.000000
5          50                 Star Wars (1977)  4.358491
24        174   Raiders of the Lost Ark (1981)  4.252381
65        511        Lawrence of Arabia (1962)  4.231214
22        172  Empire Strikes Back, The (1980)  4.204360


Top 5 Rated Animation Movies:
    movie id                                        movie title    rating
13       408                              Close Shave, A (1995)  4.491071
8        169                         Wrong Trousers, The (1993)  4.466102
7        114  Wallace & Gromit: The Best of Aardman Animatio...  4.447761
38      1367                                       Faust (1994)  4.200000
9        189                            Grand Day Out, A (1992)  4.106061


Top 5 Rated Children's Movies:
     movie id               movie title    rating
105      1293           Star Kid (1997)  5.000000
13        132  Wizard of Oz, The (1939)  4.077236
1           8               Babe (1995)  3.995434
49        500      Fly Away Home (1996)  3.903226
0           1          Toy Story (1995)  3.878319


Top 5 Rated Comedy Movies:
     movie id                 movie title    rating
461      1500   Santa with Muscles (1996)  5.000000
135       408       Close Shave, A (1995)  4.491071
57        169  Wrong Trousers, The (1993)  4.466102
154       480   North by Northwest (1959)  4.284916
84        251      Shall We Dance? (1996)  4.260870


Top 5 Rated Crime Movies:
    movie id                      movie title    rating
71      1122   They Made Me a Criminal (1939)  5.000000
2         12       Usual Suspects, The (1995)  4.385768
78      1191  Letter From Death Row, A (1998)  4.333333
14       127            Godfather, The (1972)  4.283293
65      1064                 Crossfire (1947)  4.250000


Top 5 Rated Documentary Movies:
    movie id                                 movie title    rating
16       814               Great Day in Harlem, A (1994)  5.000000
31      1201  Marlene Dietrich: Shadow and Light (1996)   5.000000
46      1594                              Everest (1998)  4.500000
4        119      Maya Lin: A Strong Clear Vision (1994)  4.500000
1         48                          Hoop Dreams (1994)  4.094017


Top 5 Rated Drama Movies:
     movie id                           movie title  rating
432      1122        They Made Me a Criminal (1939)     5.0
642      1536                  Aiqing wansui (1994)     5.0
614      1467  Saint of Fort Washington, The (1993)     5.0
674      1599         Someone Else's America (1995)     5.0
465      1189                    Prefontaine (1997)     5.0


Top 5 Rated Fantasy Movies:
    movie id                          movie title    rating
18      1293                      Star Kid (1997)  5.000000
4        423    E.T. the Extra-Terrestrial (1982)  3.833333
7        558            Heavenly Creatures (1994)  3.671429
1        141  20,000 Leagues Under the Sea (1954)  3.500000
9        755                       Jumanji (1995)  3.312500


Top 5 Rated Film-Noir Movies:
    movie id                       movie title    rating
12       657  Manchurian Candidate, The (1962)  4.259542
18      1064                  Crossfire (1947)  4.250000
3        484        Maltese Falcon, The (1941)  4.210145
4        488               Sunset Blvd. (1950)  4.200000
2        302          L.A. Confidential (1997)  4.161616


Top 5 Rated Horror Movies:
    movie id                movie title    rating
6        185              Psycho (1960)  4.100418
4        183               Alien (1979)  4.034364
91      1625          Nightwatch (1997)  4.000000
9        208  Young Frankenstein (1974)  3.945000
73       853           Braindead (1992)  3.857143


Top 5 Rated Musical Movies:
    movie id                   movie title    rating
6        132      Wizard of Oz, The (1939)  4.077236
50      1203                Top Hat (1935)  4.047619
54      1458  Damsel in Distress, A (1937)  4.000000
37       705    Singin' in the Rain (1952)  3.992701
11       209     This Is Spinal Tap (1984)  3.905759


Top 5 Rated Mystery Movies:
    movie id                 movie title    rating
30       603          Rear Window (1954)  4.387560
24       513       Third Man, The (1949)  4.333333
20       479              Vertigo (1958)  4.251397
21       484  Maltese Falcon, The (1941)  4.210145
3        191              Amadeus (1984)  4.163043


Top 5 Rated Romance Movies:
     movie id                      movie title    rating
69        483                Casablanca (1942)  4.456790
6          50                 Star Wars (1977)  4.358491
54        313                   Titanic (1997)  4.245714
26        172  Empire Strikes Back, The (1980)  4.204360
161       966    Affair to Remember, An (1957)  4.192308


Top 5 Rated Sci-Fi Movies:
    movie id                                        movie title    rating
94      1293                                    Star Kid (1997)  5.000000
3         50                                   Star Wars (1977)  4.358491
59       474  Dr. Strangelove or: How I Learned to Stop Worr...  4.252577
18       172                    Empire Strikes Back, The (1980)  4.204360
7         89                                Blade Runner (1982)  4.138182


Top 5 Rated Thriller Movies:
     movie id                              movie title    rating
84        408                    Close Shave, A (1995)  4.491071
109       603                       Rear Window (1954)  4.387560
4          12               Usual Suspects, The (1995)  4.385768
92        513                    Third Man, The (1949)  4.333333
173       963  Some Folks Call It a Sling Blade (1993)  4.292683


Top 5 Rated War Movies:
    movie id                                        movie title    rating
26       318                            Schindler's List (1993)  4.466443
32       483                                  Casablanca (1942)  4.456790
3         50                                   Star Wars (1977)  4.358491
31       474  Dr. Strangelove or: How I Learned to Stop Worr...  4.252577
35       511                          Lawrence of Arabia (1962)  4.231214


Top 5 Rated Western Movies:
    movie id                                movie title    rating
17       661                           High Noon (1952)  4.102273
14       589                     Wild Bunch, The (1969)  4.023256
7        435  Butch Cassidy and the Sundance Kid (1969)  3.949074
9        510              Magnificent Seven, The (1954)  3.942149
16       646        Once Upon a Time in the West (1969)  3.868421